builddir/
obj-x86_64-linux-gnu/
AppDir/
appimagetool
*.ddeb
*.buildinfo
*.changes
*.deb
*.AppImage
debian/.debhelper/
debian/openbrowser/
debian/files
debian/openbrowser.debhelper.log
debian/openbrowser.substvars
debian/debhelper-build-stamp
flatpak/build-dir/
flatpak/.flatpak-builder/
package-staging/
OpenBrowser.AppDir/
AppRun.custom
linuxdeploy*.AppImage
linuxdeploy-plugin-gtk.sh
