[Desktop Entry]
Name=OpenBrowser
Comment=A GNOME-style Web Browser
Exec=openbrowser %u
Icon=io.github.ramm_fr.OpenBrowser
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
StartupWMClass=io.github.ramm_fr.OpenBrowser
Keywords=web;browser;internet;
